.address {
  font-style: normal;
  color: var(--half-transparent-color);

  &--company {
    color: white;
  }
}

.address__link {
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color;

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
