.address {
  font-style: normal;
  color: var(--half-transparent-color);

  &__link {
    transition-duration: 250ms;
    transition-timing-function: var(--time-func-cubic);
    transition-property: color;
  }

  &--company {
    color: white;
  }

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
